/*------------------------------------------*/
/*  webフォント*/
/*------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");

/*------------------------------------------*/
/*  サイトのCSS*/
/*------------------------------------------*/
.body {
  background-color: aquamarine;
}
.main {
  background-color: white;
  max-width: 960px;
  margin: auto;
  font-family: "Zen Maru Gothic", sans-serif;
  text-align: center;
}

/*-------------------------------------*/
/*  タイトル*/
/*-------------------------------------*/
h1 {
  display: inline-block;
  text-decoration: none;
  color: black;
}

/*------------------------------------*/
/*  ナビゲーション*/
/*------------------------------------*/

.main {
  text-align: center;
}

.main ul {
  margin: 0;
  padding: 0;
}

.main li {
  list-style: none;
  display: inline-block;
  width: 30%;
}

.main li:not(:last-child) {
  border-right: 2px solid #ddd;
}

.main a {
  text-decoration: none;
}

.main a:hover {
  color: red;
}

/*---------------------------------------------------*/
/*  メイン画像*/
/*---------------------------------------------------*/
.top-img {
  width: 100%;
  height: 150px;
  margin-bottom: 2em;
}

/*--------------------------------------------*/
/*フッター*/
/*--------------------------------------------*/
.main footer {
  text-align: center;
  margin-top: 1em;
  border-top: 1.5px solid lightgray;
}
